# q1

In [2]:
result=1
for i in range(1,6):
    result = result * i
print(result)

120

# q2

In [9]:
result=0
for i in range (1,6):
    result = result + i
print(result)

15

# q3

In [10]:
result= 1
for i in range(3,10):
    result = result * i
print(result)

181440

# q4

In [19]:
result = 1
for i in range(1,9):
    result = result * i

denominator = 1
for i in range (1,4):
    denominator = denominator * i
    
print(result/denominator)

6720.0

# q5

In [7]:
for i in range(7):
    if i == 3:
        pass
    elif i == 6:
        pass
    else:
        print(i)

0
1
2
4
5

# q6

In [25]:
count=0
for i in 'this is my forth string'.split():
    count = count+1
print(count)

5

# q7

In [27]:
num_list=[12,32,43,35]
print(num_list)

[12, 32, 43, 35]

In [28]:
num_list.remove(num_list [0])
print(num_list)

[32, 43, 35]

In [30]:
while num_list:
    num_list.remove(num_list[0])
print(num_list)

[]

# q8

In [38]:
word_list = 'this is my fourth string'.split()

count=0
while word_list:
    count=count+1
    word_list.remove(word_list[0])
print(count)

5

# q9

In [40]:
my_tweet={"favorite_count":1138,"lang": "ch","coordinates": (-75.14310264, 40.05701649),"entities":{"hashtags":["Preds","Pens", "SingIntoSpring "]}}

# q9.1

In [48]:
count = 0
for i in my_tweet['entities']['hashtags']:
    count = count+1
print(count)

3

# q9.2

In [51]:
count = 0
while my_tweet['entities']['hashtags']:
    count=count+1
    my_tweet['entities']['hashtags'].remove(my_tweet['entities']['hashtags'][0])
print(count)

3

# q10

In [52]:
num_list = [12,32,43,35]
num_list.sort()
print(num_list)

[12, 32, 35, 43]

In [53]:
max = num_list[0]
for i in num_list:
    if i > max:
        max=i
print(max)

43

In [54]:
max = num_list[0]
for i in num_list:
    if i < max:
        max=i
print(max)

12